<%- await include('layouts/base', { body: `
    <h2 style="color: #1a1a1a; margin-top: 0;">Chào mừng, ${locals.name}!</h2>
    
    <p>Chúng tôi rất vui khi bạn đã tham gia cùng HaUI Fashion. Tài khoản của bạn đã được tạo thành công và bạn đã sẵn sàng khám phá các bộ sưu tập mới nhất.</p>
    
    <p>Nếu bạn cần hỗ trợ hoặc có bất kỳ câu hỏi nào, đội ngũ chăm sóc khách hàng của chúng tôi luôn sẵn sàng đồng hành cùng bạn.</p>
    
    <div style="text-align: center;">
        <a href="${locals.url}" class="button">Đến trang của bạn</a>
    </div>
    
    <p style="margin-bottom: 0;">Trân trọng,<br>Đội ngũ HaUI Fashion</p>
` }) %>
